player-connection-mode=Listen
player-connection-guid=594696114
player-connection-debug=0
player-connection-project-name=Market Chaos
player-connection-ip=192.168.1.103
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e580eead73bd40e092bc35b167238912
